# **Group Project: U.S. Public Company Information Search Engine**

## **Part 1: NoSQL Database Setup and Flask Design**

### 1. Stock Data Acquisition: Get dataset from Yahoo_fin library

In [ ]:
#!pip install yahoo_fin

In [ ]:
#!pip install requests_html

In [ ]:
import pandas as pd

# Read file
ticker_df = pd.read_csv('combined_ticker.csv')

# Extract the 'Symbol' column, which is the first column containing the stock tickers
company_tickers = ticker_df['Symbol'].tolist()

# Print the list to verify
print(company_tickers[:20])  # Prints the first 10 stock tickers as an example

In [ ]:
from yahoo_fin.stock_info import get_data

# Define the start and end dates in MM/DD/YYYY format
start_date = "04/08/2014"
end_date = "04/08/2024"

# Initialize a list to store the data from each ticker
all_data_list = []

for ticker in company_tickers:
    try:
        # Fetch all available historical data for each ticker within the specified date range
        data = get_data(ticker, start_date=start_date, end_date=end_date, index_as_date=True, interval="1d")
        # Add a 'ticker' column to identify the source ticker
        data['ticker'] = ticker
        # Append this DataFrame to the list
        all_data_list.append(data)
    except Exception as e:
        print(f"Error retrieving data for {ticker}: {e}")

# Concatenate all the DataFrames in the list into a single DataFrame
all_data = pd.concat(all_data_list)

# Now, all_data is a single DataFrame with each row containing the open, high, low, close, adjusted close, volume, and ticker
print(all_data.head())  # Display the first few rows to verify

In [ ]:
csv_file_path = 'companies_stockprices_2014_to_2024.csv'
all_data.to_csv(csv_file_path)
all_stock = pd.read_csv('companies_stockprices_2014_to_2024.csv')

### 2. Data Cleaning

In [ ]:
import pandas as pd
all_stock = pd.read_csv('companies_stockprices_2014_to_2024.csv')

all_stock['high_low_diff'] = all_stock['high'] - all_stock['low']
all_stock['close_open_diff'] = all_stock['close'] - all_stock['open']

all_stock = all_stock.drop(columns=['open', 'high', 'low', 'close'])
all_stock = all_stock.rename(columns={'Unnamed: 0': 'date'})

all_stock['adjclose'] = all_stock['adjclose'].round(2)
all_stock['high_low_diff'] = all_stock['high_low_diff'].round(2)
all_stock['close_open_diff'] = all_stock['close_open_diff'].round(2)

all_stock = all_stock[['date', 'ticker', 'adjclose', 'volume', 'high_low_diff', 'close_open_diff']]

all_stock.head()

/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_24673/1605912055.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

         date ticker  adjclose     volume  high_low_diff  close_open_diff
0  2014-04-08      A     35.86  2575815.0           0.84             0.32
1  2014-04-09      A     36.54  2820465.0           0.88             0.09
2  2014-04-10      A     35.54  2749027.0           1.24            -1.09
3  2014-04-11      A     34.70  3623616.0           1.00            -0.66
4  2014-04-14      A     34.62  3971159.0           0.67            -0.39

In [ ]:
data_dicts = all_stock.to_dict('records')

### 3. Insert data into NoSQL Database

In [ ]:
from pymongo import MongoClient
client = MongoClient('localhost',27017)
db = client.apan5400
collection = db.project

In [ ]:
collection.insert_many(data_dicts)

### 4. Design user interaction pages with Flask

In [ ]:
from flask import Flask, request, render_template, jsonify, redirect, url_for, session
import pandas as pd
from pymongo import MongoClient
from datetime import datetime
import json

app = Flask(__name__)
app.secret_key = 'apan5400_group_project'

ticker_df = pd.read_csv('combined_ticker.csv')

@app.route('/')
def index():
    return render_template('index.html')

@app.route('/search_ticker', methods=['GET'])
def search_ticker():
    query = request.args.get('q', '').upper()
    if query:
        matched = ticker_df[ticker_df['Symbol'].str.startswith(query)]['Symbol'].tolist()
        return jsonify(matched)
    return jsonify([])

@app.route('/search', methods=['POST'])
def search():
    ticker = request.form['ticker']
    start_date = request.form['start_date']
    end_date = request.form['end_date']

    query_result = perform_stock_price_query(ticker, start_date, end_date)

    session['query_result'] = json.dumps(query_result, default=str)
    session['ticker'] = ticker  
    return redirect(url_for('show_results'))

def perform_stock_price_query(ticker, start_date, end_date):
    
    client = MongoClient('localhost', 27017)
    db = client['apan5400']
    collection = db['project']
    
    pipeline = [
        {
            "$match": {
                "ticker": ticker,
                "date": {
                    "$gte": start_date,
                    "$lte": end_date
                }
            }
        },
        {
            "$project": {
                "_id": 0,
                "date": 1,
                "adjclose": 1,
                "volume": 1,
                "high_low_diff": 1,
                "close_open_diff": 1
            }
        },
        {"$sort": {"date": 1}}
    ]
    try:
        return list(collection.aggregate(pipeline))
    except Exception as e:
        app.logger.error("Query failed: %s", e)
        return []

@app.route('/results')
def show_results():
    data = json.loads(session.get('query_result', '[]'))
    ticker = session.get('ticker', 'Unknown Ticker')  
    return render_template('results.html', data=data, ticker=ticker)

if __name__ == '__main__':
    app.run(debug=True)

## **Part 2: SQL Database Setup and Flask Design**

### 1. Financial Data Acquisition: Get three datasets from WRDS Database.

### 2. Data Cleaning

##### 2.1 Company Information Data

In [ ]:
#%pip install psycopg2-binary
#%pip install io

In [1]:
import pandas as pd
import numpy as np
from io import StringIO


# Load the first few rows of the CSV files to inspect their structure
company_info_path = 'company info.csv'
company_info_df = pd.read_csv(company_info_path)

In [3]:
company_info_df_unique = company_info_df.drop_duplicates(subset='tic', keep='first')

company_info_df_unique.drop(columns=['ipodate'], inplace=True)

def clean_phone_number(phone):
    if pd.isna(phone):
        return None
    return ''.join([char for char in str(phone) if char.isdigit()])

def format_phone_number(phone):
    if phone is None or len(phone) != 10:
        return phone
    return f'({phone[:3]}) {phone[3:6]}-{phone[6:]}'

company_info_df_unique['phone'] = company_info_df_unique['phone'].apply(clean_phone_number).apply(format_phone_number)

company_info_df_unique['fyear'].fillna(0, inplace=True)
company_info_df_unique['fyear'] = company_info_df_unique['fyear'].astype(int)
company_info_df_unique['cik'].fillna(0, inplace=True)
company_info_df_unique['cik'] = company_info_df_unique['cik'].astype(int)
company_info_df_unique['spcindcd'].fillna(0, inplace=True)
company_info_df_unique['spcindcd'] = company_info_df_unique['spcindcd'].astype(int)

company_info_df_unique.fillna(value=np.nan, inplace=True)

for col in company_info_df_unique.columns:
    if company_info_df_unique[col].dtype == 'object' or pd.api.types.is_datetime64_any_dtype(company_info_df_unique[col]):
        company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)

/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique.drop(columns=['ipodate'], inplace=True)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique['phone'] = company_info_df_unique['phone'].apply(clean_phone_number).apply(format_phone_number)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  company_info_df_unique['fyear'].fillna(0, inplace=True)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique['fyear'].fillna(0, inplace=True)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique['fyear'] = company_info_df_unique['fyear'].astype(int)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  company_info_df_unique['cik'].fillna(0, inplace=True)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique['cik'].fillna(0, inplace=True)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique['cik'] = company_info_df_unique['cik'].astype(int)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  company_info_df_unique['spcindcd'].fillna(0, inplace=True)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique['spcindcd'].fillna(0, inplace=True)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique['spcindcd'] = company_info_df_unique['spcindcd'].astype(int)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique.fillna(value=np.nan, inplace=True)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)
/var/folders/nm/brcjtfwd5yzclpnv14tsc7100000gn/T/ipykernel_62510/3926673727.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_info_df_unique[col] = company_info_df_unique[col].where(company_info_df_unique[col].notnull(), None)

In [4]:
import pandas as pd

company_overview_dict = {
    "gvkey": "Global Company Key",
    "datadate": "Public Date",
    "fyear": "Fiscal Year",
    "tic": "Ticker",
    "conm": "Company Name",
    "curcd": "Native Currency",
    "cik": "CIK number",
    "add1": "Company Address",
    "addzip": "Zip code",
    "busdesc": "S&P Business Description",
    "city": "City",
    "conml": "Company Legal Name",
    "county": "Country",
    "phone": "Company Contact",
    "spcindcd": "S&P Industry Sector Code",
    "state": "State",
    "weburl": "Company Website"
}

company_info = pd.DataFrame(list(company_overview_dict.items()), columns=['Abbreviation', 'Full Name'])

company_info.to_csv('company_overview_dict.csv', index=False)

#### 2.2 Annual Financials Data

In [ ]:
import pandas as pd

financials = pd.read_csv('financials.csv')
print(financials.head())

   gvkey    datadate   fyear indfmt consol popsrc datafmt  tic      conm  \
0   1004  2014-05-31  2013.0   INDL      C      D     STD  AIR  AAR CORP
1   1004  2015-05-31  2014.0   INDL      C      D     STD  AIR  AAR CORP
2   1004  2016-05-31  2015.0   INDL      C      D     STD  AIR  AAR CORP
3   1004  2017-05-31  2016.0   INDL      C      D     STD  AIR  AAR CORP
4   1004  2018-05-31  2017.0   INDL      C      D     STD  AIR  AAR CORP

  curcd  ...  intan   invt  ist  lcat    lct  niint  opiti   rect    seq  \
0   USD  ...  440.1  632.9  NaN   NaN  402.1    NaN    NaN  297.9  999.5
1   USD  ...  172.4  566.7  NaN   NaN  412.0    NaN    NaN  231.1  845.1
2   USD  ...  168.6  563.7  NaN   NaN  329.0    NaN    NaN  242.7  865.8
3   USD  ...  162.6  601.1  NaN   NaN  335.1    NaN    NaN  251.4  914.2
4   USD  ...  157.1  547.9  NaN   NaN  333.3    NaN    NaN  203.0  936.3

   costat
0       A
1       A
2       A
3       A
4       A

[5 rows x 31 columns]

In [ ]:
nan_count = financials['fyear'].isna().sum()
print(f'Found {nan_count} NaN values in the fyear column.')

Found 80 NaN values in the fyear column.

In [ ]:
financials = financials.dropna(subset=['fyear'])
financials['fyear'] = financials['fyear'].astype(int)
print(financials.head())

   gvkey    datadate  fyear indfmt consol popsrc datafmt  tic      conm curcd  \
0   1004  2014-05-31   2013   INDL      C      D     STD  AIR  AAR CORP   USD
1   1004  2015-05-31   2014   INDL      C      D     STD  AIR  AAR CORP   USD
2   1004  2016-05-31   2015   INDL      C      D     STD  AIR  AAR CORP   USD
3   1004  2017-05-31   2016   INDL      C      D     STD  AIR  AAR CORP   USD
4   1004  2018-05-31   2017   INDL      C      D     STD  AIR  AAR CORP   USD

   ...  intan   invt  ist  lcat    lct  niint  opiti   rect    seq  costat
0  ...  440.1  632.9  NaN   NaN  402.1    NaN    NaN  297.9  999.5       A
1  ...  172.4  566.7  NaN   NaN  412.0    NaN    NaN  231.1  845.1       A
2  ...  168.6  563.7  NaN   NaN  329.0    NaN    NaN  242.7  865.8       A
3  ...  162.6  601.1  NaN   NaN  335.1    NaN    NaN  251.4  914.2       A
4  ...  157.1  547.9  NaN   NaN  333.3    NaN    NaN  203.0  936.3       A

[5 rows x 31 columns]

In [ ]:
columns_to_delete = ['datadate','indfmt', 'consol', 'popsrc', 'datafmt','curcd','fyr','acqniintc','costat']
financials = financials.drop(columns=columns_to_delete)

In [ ]:
print(financials.head())

   gvkey  fyear  tic      conm     act     ap      at   bkvlps    cogs   dlc  \
0   1004   2013  AIR  AAR CORP  1116.9  171.1  2199.5  25.2654  1581.4  69.7
1   1004   2014  AIR  AAR CORP   954.1  142.3  1515.0  23.8574  1342.7  69.0
2   1004   2015  AIR  AAR CORP   873.1  163.4  1442.1  25.0847  1354.9  12.0
3   1004   2016  AIR  AAR CORP   888.5  177.4  1504.1  26.6112  1422.7   2.0
4   1004   2017  AIR  AAR CORP   942.7  170.0  1524.7  26.9703  1413.2   0.0

   ...   dvc  intan   invt  ist  lcat    lct  niint  opiti   rect    seq
0  ...  11.8  440.1  632.9  NaN   NaN  402.1    NaN    NaN  297.9  999.5
1  ...  11.9  172.4  566.7  NaN   NaN  412.0    NaN    NaN  231.1  845.1
2  ...  10.4  168.6  563.7  NaN   NaN  329.0    NaN    NaN  242.7  865.8
3  ...  10.2  162.6  601.1  NaN   NaN  335.1    NaN    NaN  251.4  914.2
4  ...  10.3  157.1  547.9  NaN   NaN  333.3    NaN    NaN  203.0  936.3

[5 rows x 22 columns]

In [ ]:
financials = financials.drop_duplicates(subset=['tic', 'fyear'], keep='first')

In [ ]:
file_path = 'financials_processed.csv'
financials.to_csv(file_path)

In [ ]:
#!pip install openpyxl

In [ ]:
import pandas as pd
# Explain variables
financials_var = pd.read_excel('financials_list.xlsx')

financials_dict = pd.Series(financials_var.iloc[:, 1].values, index=financials_var.iloc[:, 0].values).to_dict()

print(financials_dict)

{'fyear': 'Data Year - Fiscal', 'tic': 'Ticker Symbol', 'conm': 'Company Name', 'act': 'Current Assets - Total', 'ap': 'Accounts Payable - Trade', 'at': 'Assets - Total', 'bkvlps': 'Book Value Per Share', 'cogs': 'Cost of Goods Sold', 'dlc': 'Debt in Current Liabilities - Total', 'dltt': 'Long Term Debt - Total', 'dptb': 'Deposits - Total - Banks', 'dvc': 'Dividends Common/Ordinary', 'intan': 'Intangible Assets - Total', 'invt': 'Inventories - Total', 'ist': 'Investment Securities - Total', 'lcat': 'Loans/Claims/Advances - Total', 'lct': 'Current Liabilities - Total', 'niint': 'Net Interest Income', 'opiti': 'Operating Income - Total', 'rect': 'Receivables - Total', 'seq': 'Stockholders Equity - Parent'}

#### 2.3 Monthly Financial Ratios

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv("ratio data.csv")

# Replace NA values with 0 and round off with two decimal places
data.iloc[:, 3:33] = data.iloc[:, 3:33].apply(lambda x: x.fillna(0).round(2))
data.to_csv("ratios.csv", index=False)


df = pd.read_csv("ratios.csv")


# Convert the 'public_date' column to datetime format and extract the year and month
df['public_date'] = pd.to_datetime(df['public_date'])
df['year'] = df['public_date'].dt.year
df['month'] = df['public_date'].dt.month

# Drop public_date column
df = df.drop(columns=['public_date'])

# 再次保存数据
df.to_csv("ratios.csv", index=False)

In [5]:
import pandas as pd

financial_ratios_full_names = {
    "bm": "Book/Market ratio",
    "evm": "Enterprise Multiple (EV/EBITDA) ratio",
    "pe_op_basic": "Price/Operating Earnings ratio",
    "ps": "Price/Sales",
    "pcf": "Price/Cash Flow",
    "dpr": "Dividend Payout ratio",
    "npm": "Net profit margin",
    "gpm": "Gross profit margin",
    "roa": "Return on Assets",
    "roe": "Return on Equity",
    "efftax": "Effective Tax Rate",
    "aftret_eq": "After-Tax Return on Average Common Equity",
    "equity_invcap": "Common Equity/Invested Capital",
    "debt_invcap": "Long-term Debt/Invested Capital",
    "totdebt_invcap": "Total Debt/Invested Capital",
    "capital_ratio": "Capitalization Ratio",
    "debt_ebitda": "Total Debt/EBITDA",
    "debt_assets": "Total Debt/Total Assets",
    "de_ratio": "Total Debt/Equity",
    "cash_conversion": "Cash Conversion Cycle",
    "inv_turn": "Inventory Turnover",
    "at_turn": "Asset Turnover",
    "sale_equity": "Sales/Stockholders Equity",
    "rd_sale": "R&D Expense/Sales",
    "adv_sale": "Advertising Expense/Sales",
    "staff_sale": "Labor Expense/Sales",
    "accrual": "Accruals/Average Assets",
    "ptb": "Price/Book",
    "peg_trailing": "Trailing P/E to Growth ratio",
    "divyield": "Dividend Yield"
}

df = pd.DataFrame(list(financial_ratios_full_names.items()), columns=['Abbreviation', 'Full Name'])

df.to_csv('ratios_dict.csv', index=False)

### 3. Insert data into SQL Database

#### 3.1 Company Information Data

In [ ]:
#!pip install psycopg2-binary

In [7]:
import psycopg2
from io import StringIO

params = {
    "host": "localhost",
    "port": '5432',
    "dbname": "my_db",
    "user": "postgres",
    "password": "123"
}

conn = psycopg2.connect(**params)
cur = conn.cursor()

create_table_query = """
CREATE TABLE company_info (
    gvkey INT,
    datadate DATE,
    fyear INT,
    indfmt VARCHAR(20),
    consol CHAR(1),
    popsrc CHAR(1),
    datafmt VARCHAR(20),
    tic VARCHAR(255) PRIMARY KEY,
    conm VARCHAR(255),
    curcd CHAR(3),
    cik INT,
    costat VARCHAR(10),
    add1 VARCHAR(255),
    addzip VARCHAR(20),
    busdesc TEXT,
    city VARCHAR(255),
    conml VARCHAR(255),
    county VARCHAR(255),
    phone VARCHAR(20),
    spcindcd INT,
    state VARCHAR(50),
    weburl VARCHAR(255)
)
"""

cur.execute(create_table_query)
conn.commit()

df = company_info_df_unique  

output = StringIO()
df.to_csv(output, sep='\t', header=False, index=False)
output.seek(0) 

cur.copy_from(output, 'company_info', null="NULL", columns=df.columns.tolist())
conn.commit()

cur.close()
conn.close()

#### 3.2 Annual Financials Data

In [ ]:
import pandas as pd
import psycopg2
from psycopg2 import extras


conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="my_db",
    user="postgres",
    password="123"
)
cur = conn.cursor()


create_table_query = """
CREATE TABLE financials (
    gvkey INT,
    fyear INT,
    tic VARCHAR(10),
    conm VARCHAR(255),
    act NUMERIC(10, 2),
    ap NUMERIC(10, 2),
    at NUMERIC(10, 2),
    bkvlps NUMERIC(10, 2),
    cogs NUMERIC(10, 2),
    dlc NUMERIC(10, 2),
    dltt NUMERIC(10, 2),
    dptb NUMERIC(10, 2),
    dvc NUMERIC(10, 2),
    intan NUMERIC(10, 2),
    invt NUMERIC(10, 2),
    ist NUMERIC(10, 2),
    lcat NUMERIC(10, 2),
    lct NUMERIC(10, 2),
    niint NUMERIC(10, 2),
    opiti NUMERIC(10, 2),
    rect NUMERIC(10, 2),
    seq NUMERIC(10, 2),
    PRIMARY KEY(tic, fyear)
);
"""
cur.execute(create_table_query)
conn.commit()

# delete the first column manually before loading
financial_df = pd.read_csv('financials_processed.csv')


insert_query = """
INSERT INTO financials (
    gvkey, fyear, tic, conm, act, ap, at, bkvlps, cogs, dlc, dltt, dptb, dvc, intan,
    invt, ist, lcat, lct, niint, opiti, rect, seq
) VALUES %s;
"""


tuples = [tuple(x) for x in financial_df.to_numpy()]


extras.execute_values(cur, insert_query, tuples, template=None, page_size=100)
conn.commit()


cur.close()
conn.close()

Connecting to the PostgreSQL database...

#### 3.3 Monthly Financial Ratios

In [ ]:
#!pip install sqlalchemy

In [ ]:
import psycopg
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy

financial_ratios_csv_path = 'ratios.csv'

engine = create_engine('postgresql://postgres:123@localhost:5432/my_db')

try:
    conn = psycopg.connect(
        host="localhost",
        port="5432",
        dbname="my_db",
        user="postgres",
        password="123"
    )
    print("Connected to the PostgreSQL database.")
except psycopg.Error as e:
    print("Error: Could not connect to PostgreSQL database.")
    print(e)

cur = conn.cursor()

financial_ratios_data = pd.read_csv(financial_ratios_csv_path)
financial_ratios_data.columns = financial_ratios_data.columns.str.lower() 
financial_ratios_data.to_sql('financial_ratios', engine, if_exists='replace', index=False)

conn.commit()

cur.execute("ALTER TABLE financial_ratios ADD PRIMARY KEY (ticker, year, month);")
conn.commit()

cur.close()
conn.close()

Connected to the PostgreSQL database.

### 4. Design user interaction pages with Flask

In [ ]:
from flask import Flask, request, render_template, jsonify, redirect, url_for, session
import pandas as pd
import psycopg2
from psycopg2 import sql

app = Flask(__name__)
app.secret_key = 'apan5400_group_project'

df = pd.read_csv('data/combined_ticker copy.csv')

@app.route('/')
def index():
    return render_template('index.html')

@app.route('/search_ticker', methods=['GET'])
def search_ticker():
    query = request.args.get('q', '').upper()
    if query:
        matched = df[df['Symbol'].str.startswith(query)]['Symbol'].tolist()
        return jsonify(matched)
    return jsonify([])

@app.route('/search', methods=['POST'])
def search():
    ticker = request.form['ticker']
    info_type = request.form['info_type']
    session['ticker'] = ticker
    session['info_type'] = info_type
    return redirect(url_for('display_options'))

@app.route('/display_options')
def display_options():
    info_type = session.get('info_type', 'company_overview')
    dict_file = {
        'company_overview': 'data/company_overview_dict.csv',
        'financial_statements': 'data/annual_financial_dict.csv',
        'key_ratios': 'data/key_ratios_dict.csv'
    }.get(info_type, 'data/company_overview_dict.csv')
    data = pd.read_csv(dict_file)
    options = data.iloc[:, 1].dropna().tolist()
    return render_template('display_options.html', options=options, info_type=info_type)

@app.route('/results', methods=['POST'])
def results():
    ticker = session['ticker']
    info_type = session['info_type']
    selected_options = request.form.getlist('selected_options')
    data = []
    fiscal_year = request.form.get('fiscalYear')
    start_month = request.form.get('startMonth', None) 
    end_month = request.form.get('endMonth', None)      

    if info_type == 'company_overview':
        data = perform_query_company_overview(ticker, selected_options)
    elif info_type == 'financial_statements':
        data = perform_query_financial_statements(ticker, selected_options, fiscal_year)
    elif info_type == 'key_ratios':
        data = perform_query_key_ratios(ticker, selected_options, fiscal_year, start_month, end_month)
    
    return render_template('results.html', 
                           ticker=ticker, 
                           info_type=info_type, 
                           data=data, 
                           variables=selected_options,
                           fiscal_year=fiscal_year,
                           start_month=start_month,
                           end_month=end_month)


def perform_query_company_overview(ticker, variables):
    return query_database(ticker, variables, 'company_info', 'company_overview')


def perform_query_financial_statements(ticker, variables, fiscal_year):
    return query_database(ticker, variables, 'financials', 'financial_statements', extra_conditions="fyear = %s", extra_params=[fiscal_year])


def perform_query_key_ratios(ticker, variables, fiscal_year, start_month, end_month):
    return query_database(ticker, variables, 'financial_ratios', 'key_ratios', extra_conditions="year = %s AND month BETWEEN %s AND %s", extra_params=[fiscal_year, start_month, end_month])


def load_variable_mapping(info_type):
    dict_file = {
        'company_overview': 'data/company_overview_dict.csv',
        'financial_statements': 'data/annual_financial_dict.csv',
        'key_ratios': 'data/key_ratios_dict.csv'
    }.get(info_type, 'data/company_overview_dict.csv')

    
    mapping_df = pd.read_csv(dict_file)
    return dict(zip(mapping_df.iloc[:, 1], mapping_df.iloc[:, 0]))

def query_database(ticker, variables, table, info_type, extra_conditions=None, extra_params=[]):
   
    variable_mapping = load_variable_mapping(info_type)

   
    db_columns = [variable_mapping.get(var, var) for var in variables]

    
    params = {"host": "localhost", "port": '5432', "dbname": "my_db", "user": "postgres", "password": "123"}
    conn = psycopg2.connect(**params)
    cur = conn.cursor()

    
    sql_fields = sql.SQL(', ').join(map(sql.Identifier, db_columns))
    sql_table = sql.Identifier(table)

  
    query = sql.SQL("SELECT {fields} FROM {table} WHERE ticker = %s").format(
        fields=sql_fields,
        table=sql_table
    )

   
    if extra_conditions:
        query = sql.SQL("{} AND {}").format(query, sql.SQL(extra_conditions))

    
    try:
        cur.execute(query, [ticker] + extra_params)
        rows = cur.fetchall()
        return [{var: val for var, val in zip(variables, row)} for row in rows]
    finally:
        cur.close()
        conn.close()

from datetime import datetime

def month_name_filter(month_number):
    if month_number:
        month_number = int(month_number)
        return datetime(1900, month_number, 1).strftime('%B')
    return "No month provided"

app.jinja_env.filters['month_name'] = month_name_filter



if __name__ == '__main__':
    app.run(debug=True)